.navbar-size {
    width: 100%;
    margin: 0 auto;
    background-color: #042e1a;
}
.user-image-size {
    height: 55px;
    margin: 4px 0 0 4px;
}
.main-body {
    background-color: #c59b47;
    color: rgb(2, 41, 14);
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #042e1a;
    margin-top: 50px;
}